.editUser h2{
  margin-left: 3%;
}
.dynamic-form {
  max-width: 700px;
  width: 68%;
  margin-left: 15%;
  /* margin: auto; */
  padding: 10px;
  /* border: 1px solid #0f0e0e; */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  /* margin-bottom: 1rem; */
}


.form-control input[type="text"]{
  display: flex;
  flex-direction: column;
}

.label-input-group {
  display: flex;
  align-items: center;
}

label {
  font-weight: bold;
  text-transform: capitalize;
}

.input-field {
  flex: 1;
  font-size: 16px;
  border: 1px solid #0a0a0a;
  border-radius: 4px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  /* margin-left: 5%; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}