aside h2, div{
  flex: 1;
  /* border-bottom: 1px solid black;  */
  padding: 5px;
  cursor: pointer;
  /* float: left; */
}

.sidebar-tab.active {
  background-color: #f0f0f0;
}

.sidebar-tab{
  float: left;
}